/* table styling */

.dataTable table{
    /* border: 1px solid #1C6EA4; */
    /* background-color: #EEEEEE; */
    width: 100%;
    text-align: left;
    border-collapse: collapse;
  }
  
  .dataTable table td, .dataTable table th {
    border: 1px solid #00000038;
    padding: 3px 2px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
  }
  
  .dataTable table tr:nth-child(even) {
    background: #0000001c;
  
  
  }
  .dataTable table th {
    /* background:linear-gradient(360deg, rgba(1, 69, 90, 0.418), rgba(0, 32, 44, 0) 60%); */
    /* box-shadow: 0px 0px 3px black ; */
    /* box-shadow: 2px; */
  }
  
  div.dataTables_filter input {
    width: 91%;
    box-sizing: border-box;
    border-radius: var(--input-radios);
    border: none;
    height: 32px;
    color: var(--primary-color);
    background-color: var(--aux-white);
    padding-left: 8px;
    animation: bounceIn 0.6s ease;
    margin-bottom: 8px;
    margin-top: 1rem;
  }
  
  .dataTables_length{
    display: none;
  }
  
  
  .datePicker{
  
    box-sizing: border-box;
    border-radius: var(--input-radios);
    border: none;
    height: 32px;
    color: var(--primary-color);
    background-color: var(--aux-white);
    padding-left: 8px;
    animation: bounceIn 0.6s ease;
    padding-right: 8px;
  float: right;
  }
  
  .dataTables_paginate{
 float: right !important;
  }
  
  .paginate_button{
    color: var(--primary-color);
    background-color: var(--aux-white);
    margin: 2px;
    padding: 8px;
    border-radius: 3px;
   
  }
  
   .current{
    color:var(--aux-white) ;
    background-color: var(--primary-color)
  }


table.dataTable tbody tr.selected {
    /* color: white !important; */
    background-color: var(--aux-white) ;
}

/* sorting icon */

table.dataTable thead th {
  position: relative;
  background-image: none !important;
}

table.dataTable thead th.sorting:after,
table.dataTable thead th.sorting_asc:after,
table.dataTable thead th.sorting_desc:after {
  position: absolute !important;
  top: 12px !important;
  right: 8px !important;
  display: block !important;
  font-family: FontAwesome !important;
}
table.dataTable thead th.sorting:after {
  content: "\f0dc" !important;
  color: var(--primary-color ) !important;
  font-size: 0.8em !important;
  padding-top: 0.12em !important;
}
table.dataTable thead th.sorting_asc:after {
  content: "\f0de" !important;
}
table.dataTable thead th.sorting_desc:after {
  content: "\f0dd" !important;
}

.width-100{
  width: 100% !important;
}

.inventoryTable{
  min-height: 450px;
}

