.Grid-3{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 12px;
    }

.headBlock{
    /* background-color: #d5ecf4;; */
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    

}


.imageBackground{
    mix-blend-mode: multiply;
    /* position: relative; */
    /* width: 80%; */
    height: 30vh;
   
}
