.tabset>input[type="radio"] {
    position: absolute;
    left: -200vw;
}

.tabset .tab-panel {
    display: none;

}

.tabset>input:first-child:checked~.tab-panels>.tab-panel:first-child,
.tabset>input:nth-child(3):checked~.tab-panels>.tab-panel:nth-child(2),
.tabset>input:nth-child(5):checked~.tab-panels>.tab-panel:nth-child(3),
.tabset>input:nth-child(7):checked~.tab-panels>.tab-panel:nth-child(4),
.tabset>input:nth-child(9):checked~.tab-panels>.tab-panel:nth-child(5),
.tabset>input:nth-child(11):checked~.tab-panels>.tab-panel:nth-child(6) {
    display: block;
    padding: 0px 0;
    /* border: 1px solid rgba(0, 0, 0, 0.2); */

}


/*
   Styling
  */

.tabset>label {
    position: relative;
    display: inline-block;
    padding: 18px 4px 18px;
    border-right: 1px solid rgba(0, 0, 0, 0.178);
    /* border-bottom: 0; */
    cursor: pointer;
    /* border-radius: var(--border-radios); */
    width: 100%;
}



.tabset>label:hover,
.tabset>input:focus+label {
    color: var(--primary-color);
}

.tabset>label:hover::after,
.tabset>input:focus+label::after,
.tabset>input:checked+label::after {
    background: var(--primary-color);
}

.tabset>input:checked+label {
    color: var(--primary-color);
    background-color: rgba(0, 0, 0, 0.301);
    margin-bottom: -1px;
}

.tabset>input+label {
    color: var(--primary-color);  
    background-color: rgba(0, 0, 0, 0.082);
    text-align: center;
}


.panelSize{
 /* height: 80vh; */
    width: 100vw;
}

/*
   Demo purposes only
  */

*,
*:before,
*:after {
    box-sizing: border-box;
}

.tabset {
    /* max-width: 65em; */
    width: 100vw;
    display:grid;
	grid-template-columns: repeat(var(--count, 3), minmax(8em, 1fr));
	grid-template-rows: auto auto;
   align-items: center  ;
  
}   

.btnSearch{
    background-color: var(--primary-color);
    height: 50px;
    border-radius: var(--border-radios);
    cursor: pointer;
    color: var(--aux-white);
    border: none;
}

.tabContentArea{
    height: 15rem;
}